

.icon { height:16px }
.icon-lg { height:32px;margin:0.2em; }
.icon-30 { height:30px;margin:0.2em; }
.icon-35 { height:35px;margin:0.2em; }


#metadata {
  padding: 1em;
  background: ghostwhite;
  border-radius: 8px;
  box-shadow: 0px 0px 10px #DDD;
  margin-bottom:2em;
}

#banner {
  padding-top:1%;
  padding-bottom:1%;
  background:white;
}
#main { margin-top:144px; }
label { margin:0 0 0.3em 0.3em; }

#name {
  position:absolute;
  left:-2000px;
 }

.toolbar { display:flex; justify-content:space-between; }
.item-toolbar  { display:flex; justify-content:space-around; }
.card-drawer { overflow-y:scroll; }
.card-gallery { 
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  gap:0.5em;
  margin-top:2em;
  margin-bottom:2em;
 }
.card-gallery.grid { 
  flex-wrap:wrap !important;
 } 
.card { width:9rem;min-width:9rem;font-size:0.8em; }
.card-img {
  max-height: 100px;
  overflow: hidden;
  background: #EEE ;
}
.card-title {
  height: 100px;
  overflow-y: hidden;
}
.ui-sortable-handle { cursor:grabbing; }
.card-img-top-frame { height:120px;max-height:120px;overflow:hidden; }

.card.selected { background:paleturquoise; }

/*  for list
.card { flex-direction:row;width:100% }
.card { margin-bottom:0.5em; }
.card-img-top {
  width: 220px;
  height: 15vw;
  object-fit: cover;
  max-width: 220px;
  min-width: 220px;
}
*/

.modal-header {
  display:block !important;
  text-align:right;
  /*padding: 0 1em 0.3em;*/
}
.modal-header a { text-decoration:none; }

.sel {margin-top: 0.1em;}

#dropzone.dragover {  }

#dropzone {
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
    
  z-index:999;
  text-align: center;
  display: none;
  flex-direction: column;
  justify-content: center;
  font-size: 3em;
  color: white;  
}

#dropzone.open {
  display:flex;
  bottom:0px;
  z-index:1040;
  background:rgba(30,100,255,0.9);
}


.btn-external { 
  background: transparent;
  border: 0; }

#infoicon { cursor:pointer; }
#infoeditor {  }


.ql-container {
  font-size: 16px !important;
  height:97% !important;
}
.ql-editor {
  height:600px !important;
}
.htmldisplay { height:600px;overflow-y:scroll; }

#sidebar {
position:absolute;top:0px;bottom:0px;right:-40%;background:white;width:40%;z-index: 999;transition: right 1s;
}
#sidebar.shown {
  right:0%;
  transition: right 1s;
  box-shadow: 0px 0px 10px #555;
  overflow-y: scroll;
  height: 90%;
}
#sidebar-head {
  font-size: 2.5em;
  text-align: right;
  margin-right: 5%;
}
#sidebar-head a {
  text-decoration: none;
}

#sidebar-body {
  margin: 1em;
}

.card-counter {
position:absolute;
top:5px;
left:5px;
background:white;
border-radius:20px;
padding: 0.4em 0.6em;
min-width: 1.8em;
text-align: center;
}

@media screen and (max-width: 520px) {
  .card {
    width: 48%;
    min-width: 2rem;
  }
}
