<section id='acknowledgements' style='margin-top:5%;'>
<!--
  <div class="container">
      <div class="col-sm-12" style='padding:2% 0 3% 0;color:white;'>

	<h2>Acknowledgements</h2>

	<p>The Suzuki Gentoku documents were purchased by Thomas Conlan in a Kyōto Used bookstore in 1996 located not far from the Shimogamo shrine. Professors Kondō Shigekazu and Horikawa Yasufumi of the Tokyo Historiographical Institute, and Professor Yoshikawa Shinji of Kyoto University, provided great insights regarding the context and significance of these documents and aided with their interpretation and translation. The website was designed by Ben Johnston of the McGraw Center for Teaching and Learning, Princeton University.</p>
    </div>

  </div>
-->
</section>
