<section id='header'>
    <div id="header-tint"></div>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <!--<a class="navbar-brand" href="{{site.url}}" style="font-weight:bold;color:white;text-transform:uppercase">{{ site.title }}</a>-->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>          
        </div>
        
        
        
        <div id="navbar" class="navbar-collapse collapse">

          <ul class="nav navbar-nav navbar-right bg-white">
            <li><a href="{{site.url}}{{site.baseurl}}/index.html">Home</a></li>
            <!--
            <li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Documents</a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
		  <a class="dropdown-item" href="document-01.html">Document 1</a>
		  <a class="dropdown-item" href="document-02.html">Document 2</a>
		  <a class="dropdown-item" href="document-03.html">Document 3</a>
		  <a class="dropdown-item" href="document-04.html">Document 4</a>
		  <a class="dropdown-item" href="document-05.html">Document 5</a>
		  <a class="dropdown-item" href="document-06.html">Document 6</a>
		  <a class="dropdown-item" href="document-07.html">Document 7</a>
		  <a class="dropdown-item" href="document-08.html">Document 8</a>
		  <a class="dropdown-item" href="document-09.html">Document 9</a>
		  <a class="dropdown-item" href="document-10.html">Document 10</a>
		  <a class="dropdown-item" href="document-11.html">Document 11</a>
		  <a class="dropdown-item" href="document-12.html">Document 12</a>
		  <a class="dropdown-item" href="document-13.html">Document 13</a>
		  <a class="dropdown-item" href="document-14.html">Document 14</a>	  
		</div>
	    </li> 
	  -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
	<div class="home container" style='margin-top:2%;'>
	  
	   <div class="row">
	     <div class="col-sm-12" id="site-title">
			  <h1><a href="{{ site.url }}/index.html">Collections</a></h1>
	     </div>
	   </div> 
	   
	</div>  <!-- /.container -->     
    
    
</section>
